#content-404
  .container-404
    img(src=config.logo)
    h3 Jabes Souza Ribeiro 11 (PREFEITO)
    p Idade: 63 anos (14/03/1952)
    p Naturalidade: Ilh&eacute;us/BA
    p Estado Civil: Casado(A)
    p Ocupa&ccedil;&atilde;o: Aposentado (Exceto Servidor P&uacute;blico)
    p Escolaridade: Superior Completo

    h3 Carlos Machado de Andrade Filho 11 (VICE PREFEITO)
    p 37 anos (06/04/1978)
    p Naturalidade: Ilheus/BA
    p Estado Civil: Casado(A)
    p Ocupa&ccedil;&atilde;o: Comerciante
    p Escolaridade: Superior Completo

    hr

    h3 Fabio Ferreira Menezes 20890 (VEREADOR)
    p Idade: 37 anos (11/03/1978)
    p Naturalidade: Ilh&eacute;us/BA
    p Estado Civil: Solteiro(A)
    p Ocupa&ccedil;&atilde;o: Outros
    p Escolaridade: Ensino M&eacute;dio Completo

    br

    h3 Gilmar Chaves Sodr&eacute; 33612 (VEREADOR)
    p Idade: 49 anos (01/12/1965)
    p Naturalidade: Ilhéus/BA
    p Estado Civil: Casado(A)
    p Ocupa&ccedil;&atilde;o: Empres&aacute;rio
    p Escolaridade: Ensino Fundamental Incompleto